body{
    background-color: #cccccc;
}

.secondary.pointing.menu{
    background-color: #FF4500;
}

.ui.basic.segment{
    background: inherit;
    border: none;
}

.ui.large.image{
    margin: auto;
}

.ui.inverted.segment, .ui.primary.inverted.segment{
    border: none;
}

.ui.small.image{
    width: 200px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}