.title {
	-fx-padding: 0 0 8 8;
	-fx-text-color: white;
}

.controls {
	-fx-background-color: #FF4A00;
}

.roundedField {
	-fx-background-radius: 40px;
}

.audioControl {
	-fx-background-radius: 40px;
}

.marker {
    -fx-background-color: gray;
}

.marker_selected {
    -fx-background-color: orange;
}

.marker_0 {
    -fx-background-color: red;
}

.marker_1 {
    -fx-background-color: yellow;
}

.inplacetext {
    -fx-background-color: none;
}

.inplacetext:active {
    -fx-background-color: green;
}