<component name="libraryTable">
  <library name="Spring-4.3.4.RELEASE" type="spring">
    <properties version="4.3.4.RELEASE" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/Server/lib/spring-context-support-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Server/lib/spring-expression-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Server/lib/spring-instrument-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Server/lib/spring-beans-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Server/lib/spring-instrument-tomcat-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Server/lib/spring-core-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Server/lib/spring-context-4.3.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>